/* Login Page Styling */
.login-container {
    max-width: 500px; /* Increased width */
    margin: 0 auto;
    padding: 30px; /* More padding for spacious feel */
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

input {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
}

.password-container {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}

button {
    width: 100%;
    margin-top: 20px;
}

p {
    font-size: 14px;
    color: #8e8e8e;
}

.forgot-password a, .signup-link a {
    color: #0095f6;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.errorMessage {
    color: #ed4956;
}

.successMessage {
    color: #78C82A;
}
